/* MENU */


#nav {
width:1000px;

font-size:13px  !important; 
font-family:Tahoma, Geneva, sans-serif !important ;
		

  background-image:url(../images/menu.jpg);
 
 /*
 background-image:-webkit-linear-gradient(top, #FFA6D2, #FF0080);
 background-image:-moz-linear-gradient(top, #FFA6D2, #FF0080);
 */

/*
 border-right: 1px solid #3c3c3c;
 border-left: 1px solid #292929;
 border-bottom: 1px solid #232323;
 border-top: 1px solid #545454;
*/

 float: left;
 margin: 0; padding: 0;

 border-bottom: none;
 z-index:300;
}

#nav li a, #nav li {
 float: left;
 z-index:300;
}

#nav li {
 list-style: none;
 position: relative;
 z-index:300;
}

#nav li a {
 padding: 12px 10px; 
 text-decoration: none;
 color: white;

/*

background-image:-webkit-linear-gradient(top, #FFA6D2, #FF0080);
background-image:-moz-linear-gradient(top, #FFA6D2, #FF0080);



border-left: 1px solid #FF0080;
*/

border-bottom: 1px solid #FFF;
border-height: 10px;
background-image:url(../images/menu.jpg); 

/* border-right: 1px solid #3c3c3c; */






}

#nav li a:hover {
 background: #142B0E;
  color:#FFF; 
 /*
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
 */
}

.selected {
 background: #142B0E !important;
/* color:#F9C !important; */
 /*
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
 */
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background-image:url(../images/down.png);
	right:2px;
	
	
	bottom: 2px;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: 150px;
 display: block;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;
}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
}


#nav li ul 